In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [36]:
Loan_data=pd.read_csv('Loan_data.csv')
Loan_data

   Results  Initial Payment  Last payment  Credict score  House number
0      yes              445          4788            451          2412
1      yes              664          4776            345          2324
2      yes              456         34767            577          3743
3      yes              784          5476            234          7654
4      yes              765          5687            567          2345
5      yes              478         23456            234          3456
6       no              234          7774            245          7845
7       no              857          6799            652          4686
8       no              445         37976            778          9567
9       no              639         36939            468          9775
10      no              457         36933            474          6843
11      no              944          9676            467          8768
12      no              367          7963            168          9643
13      no              939           397            189          9755
14      no              345          5366            278          3456

In [170]:
Loan_data.shape

(15, 5)

In [171]:
X=Loan_data.iloc[:,1:]
y=Loan_data.iloc[:,:1]

In [172]:
X.shape

(15, 4)

In [173]:
y.shape

(15, 1)

In [174]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4
                                               ,random_state=None)

In [175]:
X_test

    Initial Payment  Last payment  Credict score  House number
14              345          5366            278          3456
9               639         36939            468          9775
0               445          4788            451          2412
5               478         23456            234          3456
12              367          7963            168          9643
2               456         34767            577          3743

In [176]:
X_train

    Initial Payment  Last payment  Credict score  House number
8               445         37976            778          9567
4               765          5687            567          2345
11              944          9676            467          8768
13              939           397            189          9755
1               664          4776            345          2324
3               784          5476            234          7654
10              457         36933            474          6843
6               234          7774            245          7845
7               857          6799            652          4686

In [185]:
X_train.shape

(9, 4)

In [186]:
y_train.shape

(9, 1)

In [187]:
X_test.shape

(6, 4)

In [189]:
y_test.shape

(6, 1)

In [177]:
#X_train.shape
X1_train=X_train#.values.reshape(1,-1)
X1_train.shape

(9, 4)

In [178]:
#X_test.shape
X1_test=X_test#.values.reshape(1,-1)
X1_test.shape

(6, 4)

In [179]:
#y_train.shape
y1_train=y_train#.values.reshape(1,-1)
y1_train.shape

(9, 1)

In [180]:
#y_test.shape
y1_test=y_test#.values.reshape(1,-1)
y1_test.shape

(6, 1)

In [181]:
clf=DecisionTreeClassifier(criterion='entropy',max_features=1,
                           max_depth=3,random_state=None,min_samples_split=2,max_leaf_nodes=2)
clf

DecisionTreeClassifier(criterion='entropy', max_depth=3, max_features=1,
                       max_leaf_nodes=2)

In [182]:
clf1=clf.fit(X_train,y_train)
clf1

DecisionTreeClassifier(criterion='entropy', max_depth=3, max_features=1,
                       max_leaf_nodes=2)

In [253]:
y_pred=clf1.predict(X_test)
y_pred

array(['yes', 'no', 'yes', 'yes', 'no', 'no'], dtype=object)

In [254]:
y_preds=[
    [355,9836,945,2783],
        [874,6785,734,7857],
        [159,156,754,3564],
        [445,4788,451,2412],
        [457,36933,474,6843],
        [323,65744,234,5745],
        ]

IndentationError: unexpected indent (<ipython-input-254-b63e1153aa97>, line 2)

In [257]:
y_pred=clf1.predict(y_preds)
y_pred

array(['yes', 'no', 'no', 'yes', 'no', 'no'], dtype=object)

In [258]:
accuracy_score(y_pred,y_test)*100

50.0